<% include head %>
<div id="github_details" style="display:none">
  <h2>You're logged in with LinkedIn!</h2>
  <ul>
    <li>
      <h3>Name</h3>
      <p id="name"></p>
    </li>
    <li>
      <h3>Email Address</h3>
      <p id="email"></p>
    </li>
    <li>
      <h3>Description</h3>
      <p id="description"></p>
    </li>
  </ul>
</div>
<script type="text/javascript">
if (!Parse.User.current()) {
  window.location.href='/authorize';
} else {
  Parse.Cloud.run('getUserProfileData', {}).then(function(response) {
      $('#name').text(response.get('firstName') + " " + response.get('lastName'));
      $('#email').text(response.get('emailAddress'));
      $('#description').text(response.get('summary'));
      $('#github_details').show();
  }, function(error) {
  console.log(error);
    alert('There was an error getting your LinkedIn details, ' +
      'please check the console for more information.');
    
  });
}
</script>
<% include foot %>