<% include head %>
<p>Saving your LinkedIn session...</p>
<script type="text/javascript">
Parse.User.become('<%= sessionToken %>').then(function (user) {
  window.location.href='/profile.html';
},
function (error) {
console.log(error)
  alert('Login with LinkedIn Failed.');
  //window.location.href='/';
});
</script>
<% include foot %>